<% include ./partials/header %>

<div class="container"></div>

<script>
    window.props = {
                    items: '<%- JSON.stringify(items) %>'
                    };
</script>
<script src="/dist/catalog.js"></script>
<% include ./partials/footer %>