<% include ./partials/header %>

<div class="container"></div>
<script src="./components/newreservation.js"></script>
<script src="./components/newreservation.js"></script>
<script src="./node_modules/bundle/lib/bundle.js"></script>

<% include ./partials/footer %>