<% include ./partials/header %>

<div class="container"></div>
<script>
	window.props = {items: '<%- JSON.stringify(items) %>',
					to: '<%- to %>',
					from: '<%- from %>',
					time: <%- time %>
					};
</script>
<script src="/dist/bundle.js"></script>


<% include ./partials/footer %>